<nz-card>
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">

            <!-- 功能编号 -->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="authcode">{{'funcPower.listPage.search.authcode'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="functionPowerForm.authcode"
                                  name="authcode"
                                  nzId="authcode"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                    </div>
                </div>
            </div>

            <!-- 功能名称 -->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="actionName">{{'funcPower.listPage.search.actionName'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="functionPowerForm.actionName"
                                  name="actionName"
                                  nzId="actionName"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                    </div>
                </div>
            </div>

            <!-- 功能分组 -->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="authgroup">{{'funcPower.listPage.search.authgroup'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="functionPowerForm.authgroup"
                                  name="authgroup"
                                  nzId="authgroup"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                    </div>
                </div>
            </div>

            <!-- APPID -->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="appId">{{'funcPower.listPage.search.appId'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="functionPowerForm.appId"
                                  name="appId"
                                  nzId="appId"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="5" class="mb-md">
                <button nz-button (click)="onSearch()" [nzType]="'primary'" [nzSize]="'large'">
                    <span>{{'default.btn.searchBtn'|translate}}</span>
                </button>
                <button nz-button (click)="onAdd()" [nzType]="'default'" [nzSize]="'large'" *ngIf="helper.btnRole('ROLEPCREATE')">
                    <span>{{'default.btn.newBtn'|translate}}</span>
                </button>
            </div>

        </div>
    </form>
</nz-card>

<nz-card [nzBordered]="false">
    <simple-table #funcPowerTable
                  [url]="tableCfg.url"
                  [reqMehtod]="'POST'"
                  [isAjax]="tableCfg.isAjax"
                  [extraParams]="tableCfg.params"
                  [total]="tableCfg.total"
                  [columns]="tableCfg.tableColumns"
                  [resReName]="tableCfg.resReName"
                  [reqReName]="tableCfg.reqReName">

        <ng-template st-row="orderByRender" let-item>
            <span>{{helper.isEmpty(item['orderBy']) ? '/' : item['orderBy']}}</span>
        </ng-template>

    </simple-table>
</nz-card>
