<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <!--授权公众账号-->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>{{'WxBusinessAuth.listPage.search.authName'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="wxBusinessAuthForm.authName"
                                  name="authName"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"
                                  nzId="authName"></nz-input>
                    </div>
                </div>
            </div>

            <!--受理机构-->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>{{'WxBusinessAuth.listPage.search.organNo'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <search-input [(ngModel)]="wxBusinessAuthForm.organNo"
                                      [name]="'organNo'"
                                      nzId="organNo"
                                      [nzSize]="'large'"
                                      nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      [displayField]="'name'"
                                      [valueField]="'orgNo'"
                                      [tableCfg]="organNoCfg"></search-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="5" class="mb-md">
                <button nz-button (click)="onSearch()" [nzType]="'primary'" [nzSize]="'large'">
                    <span>{{'default.btn.searchBtn'|translate}}</span>
                </button>

                <button nz-button (click)="onNewWxBusinessAuth()" [nzType]="'default'" [nzSize]="'large'" *ngIf="helper.btnRole('AWBCREATE')">
                    <span>{{'default.btn.newBtn'|translate}}</span>
                </button>
            </div>

        </div>
    </form>
</nz-card>

<nz-card [nzBordered]="false">
    <simple-table #wxBusinessAuthListTable
                  [url]="tableCfg.url"
                  [reqMehtod]="'POST'"
                  [extraParams]="tableCfg.params"
                  [total]="tableCfg.total"
                  [columns]="tableCfg.tableColumns"
                  [resReName]="tableCfg.resReName"
                  [reqReName]="tableCfg.reqReName"
                  [isAjax]="tableCfg.isAjax">

        <!--类型渲染-->
        <ng-template st-row="organOrMchRender" let-item>
            <ng-container>{{helper.dictTrans('WECHAT_USER_TYPE', item['organOrMch'])}}</ng-container>
        </ng-template>

    </simple-table>
</nz-card>



