<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <!--地区码-->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>{{'AreaCodeConfig.listPage.search.areaCode'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="areaCodeConfigListForm.areaCode"
                                  name="areaCode"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"
                                  nzId="areaCode"></nz-input>
                    </div>
                </div>
            </div>

            <!--地区名称-->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>{{'AreaCodeConfig.listPage.search.name'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="areaCodeConfigListForm.name"
                                  name="name"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"
                                  nzId="name"></nz-input>
                    </div>
                </div>
            </div>

            <!--国际编码-->
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>{{'AreaCodeConfig.listPage.search.adCode'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="areaCodeConfigListForm.adCode"
                                  name="adCode"
                                  [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"
                                  nzId="adCode"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="5" class="mb-md">
                <button nz-button (click)="onSearch()" [nzType]="'primary'" [nzSize]="'large'">
                    <span>{{'default.btn.searchBtn'|translate}}</span>
                </button>

                <button nz-button (click)="onNewAreaCodeConfig()" [nzType]="'default'" [nzSize]="'large'" *ngIf="helper.btnRole('AREACREATE')">
                    <span>{{'default.btn.newBtn'|translate}}</span>
                </button>
            </div>

        </div>
    </form>
</nz-card>

<nz-card [nzBordered]="false">
    <simple-table #areaCodeConfigListTable
                  [url]="tableCfg.url"
                  [reqMehtod]="'POST'"
                  [extraParams]="tableCfg.params"
                  [total]="tableCfg.total"
                  [columns]="tableCfg.tableColumns"
                  [resReName]="tableCfg.resReName"
                  [reqReName]="tableCfg.reqReName"
                  [isAjax]="tableCfg.isAjax">

        <!--国际编码渲染-->
        <ng-template st-row="adCodeRender" let-item>
            <ng-container>{{helper.isEmpty(item['adCode']) ? '/' : item['adCode']}}</ng-container>
        </ng-template>

    </simple-table>
</nz-card>

