<form nz-form  [formGroup]="addRoleGorupForm" class="margin-top-btn">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="9">
            <label for="roleName" nz-form-item-required>{{'roleGroup.listPage.tableCols.roleName'|translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSm]="6" nzHasFeedback>
            <nz-input  nzSize="large" [nzType]="'text'"  formControlName="roleName" name="roleName" [(ngModel)]="model.roleName" required nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" ></nz-input>
            <div nz-form-explain *ngIf="getFormControl('roleName').dirty&&getFormControl('roleName').hasError('required')">{{'roleGroup.listPage.html.pleaseroleName'|translate}}</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="9">
            <label for="rolecode" nz-form-item-required>{{'roleGroup.listPage.tableCols.rolecode'|translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSm]="6" nzHasFeedback>
            <nz-input  nzSize="large" [nzType]="'text'"  formControlName="rolecode" name="rolecode" [(ngModel)]="model.rolecode" required nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" ></nz-input>
            <div nz-form-explain *ngIf="getFormControl('rolecode').dirty&&getFormControl('rolecode').hasError('required')">{{'roleGroup.listPage.html.pleaserolecode'|translate}}</div>
            <div nz-form-explain *ngIf="getFormControl('rolecode').dirty&&getFormControl('rolecode').value&&getFormControl('rolecode').hasError('numberError')">
                {{'roleGroup.listPage.alert.number'|translate}}
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="9">
            <label for="appId" nz-form-item-required>{{'roleGroup.listPage.tableCols.appId'|translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSm]="6" nzHasFeedback>
            <nz-input  nzSize="large" [nzType]="'text'"  formControlName="appId" name="appId" [(ngModel)]="model.appId"  (ngModelChange)="appIdChange(model.appId)"required nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" ></nz-input>
            <div nz-form-explain *ngIf="getFormControl('appId').dirty&&getFormControl('appId').hasError('required')">{{'roleGroup.listPage.html.pleaseroleappId'|translate}}</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="9">
            <label for="orgNo">{{'roleGroup.listPage.tableCols.orgName'|translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSm]="6">
            <search-input [(ngModel)]="model.orgNo"
                          formControlName="orgNo"
                          [name]="'orgNo'"
                          [nzSize]="'large'"
                          nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                          nzId="orgNo"
                          [displayField]="'orgName'"
                          [valueField]="'orgNo'"
                          [(displayValue)]="model.orgName"
                          [tableCfg]="bankNoCfg" [nzDisabled]="isdisabled"></search-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="9">
            <label for="description" nz-form-item-required>{{'roleGroup.listPage.tableCols.description'|translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSm]="6" nzHasFeedback>
            <nz-input  nzSize="large" [nzType]="'textarea'" formControlName="description" name="description" [(ngModel)]="model.description" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"  required></nz-input>
            <div nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').hasError('required')">{{'roleGroup.listPage.html.pleasedescription'|translate}}</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-control nz-col class="text-center">
            <nz-button-group>
                <button nz-button (click)="back()" nzSize="large">{{'default.btn.backBtn'|translate}}</button>
                <button nz-button [nzType]="'primary'" nzSize="large" (click)="onNextSetp()" [disabled]="!addRoleGorupForm.valid"  [nzLoading]="isLoading">{{'RM.nzTitle.step2Title'|translate}}</button>
                <button nz-button  nzSize="large" [nzType]="'defult'" (click)="onSubmit()" [disabled]="!addRoleGorupForm.valid"  [nzLoading]="_isLoading">{{'RM.listPage.html.onlysev'|translate}}</button>
            </nz-button-group>
        </div>
    </div>
</form>


