<!--<nz-card [nzBordered]="false" nzTitle="{{model.id?  ('CenterManger.payManage.editTitle'|translate) : ('CenterManger.payManage.addTitle'|translate )}}" class="ng-card-m">-->
    <nz-card [nzBordered]="false"  class="ng-card-m">


<form nz-form [formGroup]="modelGroup" (ngSubmit)="_submitForm()" class="padding-form">

    <div nz-row [nzGutter]="50" [nzType]="'flex'" [nzJustify]="'space-between'">
        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="name" nz-form-item-required>{{'CenterManger.payManage.listPage.name'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input [(ngModel)]="model.name" name="name"      formControlName="name"
                              [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="name"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12" >
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6"><label for="settleParty" nz-form-item-required>{{'CenterManger.payManage.listPage.settleParty'|translate}}</label></div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-select nzId="settleParty" name="settleParty" [(ngModel)]="model.settleParty" formControlName="settleParty"
                               nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                        <nz-option
                            *ngFor="let type of settlePartys | async"
                            [nzLabel]="type.name"
                            [nzValue]="type.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('settleParty').dirty&&getFormControl('settleParty').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12" >
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6"><label for="tradeType" nz-form-item-required>{{'CenterManger.payManage.listPage.tradeType'|translate}}</label></div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-select nzId="tradeType" name="tradeType" [(ngModel)]="model.tradeType" formControlName="tradeType"
                               nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                        <nz-option
                            *ngFor="let type of tradeTypes | async"
                            [nzLabel]="type.name"
                            [nzValue]="type.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('tradeType').dirty&&getFormControl('tradeType').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12" >
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6"><label for="feeRuleType" nz-form-item-required>{{'CenterManger.payManage.listPage.feeRuleType'|translate}}</label></div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-select nzId="feeRuleType" name="feeRuleType" [(ngModel)]="model.feeRuleType" formControlName="feeRuleType"
                               nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                        <nz-option
                            *ngFor="let type of feeRuleTypes | async"
                            [nzLabel]="type.name"
                            [nzValue]="type.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('tradeType').dirty&&getFormControl('tradeType').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="bankCard" >{{'CenterManger.payManage.listPage.bankCard'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input [(ngModel)]="model.bankCard" name="bankCard"      formControlName="bankCard"
                              [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="bankCard"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl('bankCard').dirty&&getFormControl('bankCard').value&&getFormControl('bankCard').hasError('pattern')">{{'default.validationMessages.numErr'|translate}}</div>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="bankCardName" >{{'CenterManger.payManage.listPage.bankCardName'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input [(ngModel)]="model.bankCardName" name="bankCardName"      formControlName="bankCardName"
                              [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="bankCardName"></nz-input>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="bankName" >{{'CenterManger.payManage.listPage.bankName'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input [(ngModel)]="model.bankName" name="bankName"      formControlName="bankName"
                              [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="bankName"></nz-input>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="12" >
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6"><label for="settleType" >{{'CenterManger.payManage.listPage.settleType'|translate}}</label></div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-select nzId="settleType" name="settleType" [(ngModel)]="model.settleType" formControlName="settleType"
                               nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                        <nz-option
                            *ngFor="let type of settleTypes | async"
                            [nzLabel]="type.name"
                            [nzValue]="type.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="settleRate" nz-form-item-required>{{'CenterManger.payManage.listPage.settleRate'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input [(ngModel)]="model.settleRate" name="settleRate"      formControlName="settleRate"
                              [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="settleRate"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl('settleRate').dirty&&getFormControl('settleRate').value&&getFormControl('settleRate').hasError('numberError')">
                        {{'default.validationMessages.numberErr'|translate}}
                    </div>
                    <div nz-form-explain *ngIf="getFormControl('settleRate').dirty&&getFormControl('settleRate').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12" >
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6"><label for="chaProfitType">{{'CenterManger.payManage.listPage.chaProfitType'|translate}}</label></div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-select nzId="chaProfitType" name="chaProfitType" [(ngModel)]="model.chaProfitType" formControlName="chaProfitType"
                               nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                        <nz-option
                            *ngFor="let type of chaProfitTypes | async"
                            [nzLabel]="type.name"
                            [nzValue]="type.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12" *ngIf="model.tradeType == 2">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="otherCenterBank">{{'CenterManger.payManage.listPage.otherCenterBank'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" >
                    <search-input [(ngModel)]="model.otherCenterBank"
                                  formControlName="otherCenterBank"
                                  (nzSelect)="onOtherCenterBankSelected($event)"
                                  [searchBefore]="BankBefore.bind(this)"
                                  [name]="'otherCenterBank'" [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}" nzId="otherCenterBank"
                                  [tableCfg]="otherCenterBankCfg"
                                  [(displayValue)]="model.otherCenterBankName"
                                  [displayField]="'name'"
                                  [valueField]="'name'"
                    ></search-input>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12"  *ngIf="model.tradeType == 2">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="otherCenterId">{{'CenterManger.payManage.listPage.otherCenterId'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" >
                    <search-input [(ngModel)]="model.otherCenterId"
                                  formControlName="otherCenterId"
                                  (nzSelect)="onotherCenterIdSelected($event)"
                                  [searchBefore]="CenterIdBefore.bind(this)"
                                  [name]="'otherCenterId'" [nzSize]="'large'"
                                  nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}" nzId="otherCenterId"
                                  [tableCfg]="otherCenterIdCfg"
                                  [(displayValue)]="model.otherCenterName"
                                  [displayField]="'name'"
                                  [valueField]="'name'"
                    ></search-input>
                </div>
            </div>
        </div>


        <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col  [nzSpan]="6">
                    <label for="descript" >{{'CenterManger.payManage.listPage.descript'|translate}}</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                    <nz-input  name="descript"
                               nzId="descript"
                               formControlName="descript"
                               [(ngModel)]="model.descript"
                               [nzType]="'textarea'" [nzRows]="'4'"
                               nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                </div>
            </div>
        </div>
    </div>




    <div nz-form-item nz-row  class="margin-top-btn">
        <div nz-form-control nz-col class="text-center">
            <button nz-button [nzType]="'primary'" nzSize="large" [nzLoading]="isLoadingOne" [disabled]="!modelGroup.valid">
                <span>{{'default.btn.saveBtn' | translate}}</span>
            </button>

            <button nz-button [nzType]="'default'" nzSize="large" (click)="onGoBack()">
                <span>{{'default.btn.cancelBtn' | translate}}</span>
            </button>

        </div>
    </div>

</form>
</nz-card>
