<nz-card [nzBordered]="true">
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="25">
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="name">{{'CenterManger.payManage.name'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="form.name" name="name" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}" nzId="name"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="settleParty">{{'CenterManger.payManage.settleParty'|translate}}</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select nzId="settleParty" name="settleParty" [(ngModel)]="form.settleParty" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                            <nz-option  nzLabel="{{'CenterManger.All'|translate}}"></nz-option>
                            <nz-option
                                *ngFor="let settle of settleParty"
                                [nzLabel]="settle.name"
                                [nzValue]="settle.id">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <button nz-button (click)="onSearch()" [nzType]="'primary'" [nzSize]="'large'">
                    <span>{{'CenterManger.btn.searchBtn'|translate}}</span>
                </button>
                <button nz-button  (click)="onAdd()" [nzType]="'default'" *ngIf="helper.btnRole('AAPCREATE')" [nzSize]="'large'">
                    <span>{{'CenterManger.btn.newBtn'|translate}}</span>
                </button>
            </div>

        </div>
    </form>
</nz-card>
<nz-card [nzBordered]="true">
    <simple-table #payManageListTable [url]="tableCfg.url" [reqMehtod]="'POST'"  [extraParams]="tableCfg.params" [total]="tableCfg.total" [columns]="tableCfg.tableColumns"
                  [resReName]="tableCfg.resReName" [reqReName]="tableCfg.reqReName" [isAjax]="tableCfg.isAjax" [isExpand]="tableCfg.isExpand" (expandChange)="onExpandChange($event)" >
        <ng-template st-row="settlePartyRender" let-item>
            {{!helper.isEmpty(item['settleParty'])?helper.dictTrans('PAYCENTER_IS_COMMISSION',item['settleParty']) : '/'}}
        </ng-template>
        <ng-template st-row="tradeTypeRender" let-item>
            {{!helper.isEmpty(item['tradeType'])?helper.dictTrans('PAYCENTER_CENTER_TYPE',item['tradeType']) : '/'}}
        </ng-template>
        <ng-template st-row="settleTypeRender" let-item>
            {{!helper.isEmpty(item['settleType'])?helper.dictTrans('PAYCENTER_BALANCE_TYPE',item['settleType']) : '/'}}
        </ng-template>
        <ng-template st-row="chaProfitTypeRender" let-item>
            {{!helper.isEmpty(item['chaProfitType'])?helper.dictTrans('PAYCENTER_CH_TYPE',item['chaProfitType']) : '/'}}
        </ng-template>
        <ng-template st-row="isDeletedRender" let-item *ngIf="helper.btnRole('AAPEDITSTATE')">
            <ng-container [ngSwitch]="item['isDeleted']">
                <nz-tag *ngSwitchCase="1" [nzColor]="'red'" (click)="onStateClick(item)">
                    {{'CenterManger.payManage.unUsed'|translate}}
                    <i class="anticon anticon-caret-right"></i>
                </nz-tag>
                <nz-tag *ngSwitchCase="0" [nzColor]="'green'" (click)="onStateClick(item)">
                    {{'CenterManger.payManage.used'|translate}}
                    <i class="anticon anticon-pause"></i>
                </nz-tag>
            </ng-container>
        </ng-template>
        <ng-template #nzTableExpand let-item let-index="index">
            <ng-container *ngIf="expandData[index]">
                <ul class="wx-expand-info">
                    <li>
                        <label>{{'CenterManger.payManage.listPage.transType'|translate}}：</label>
                        <span>{{expandData[index]['transType']}}</span>
                    </li>
                    <li>
                        <label>{{'CenterManger.payManage.listPage.centerPattern'|translate}}： </label>
                        <span> {{!helper.isEmpty(expandData[index].centerPattern)?helper.dictTrans('PAYCENTER_CENTER_TYPE',expandData[index].centerPattern) : '/'}}</span>
                    </li>
                    <li>
                        <label>{{'CenterManger.payManage.listPage.transId'|translate}}：</label>
                        <span>{{expandData[index].transId}}</span>
                    </li>
                    <li>
                        <label>{{'CenterManger.payManage.listPage.createdTime'|translate}}：</label>
                        <span>{{expandData[index].createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </li>
                    <li>
                        <label>{{'CenterManger.payManage.listPage.updatedTime'|translate}}：</label>
                        <span>{{!helper.isEmpty(expandData[index].updatedTime)? (expandData[index].updatedTime | date:'yyyy-MM-dd HH:mm:ss') : '/'}}</span>
                    </li>
                </ul>
            </ng-container>
        </ng-template>
    </simple-table>
</nz-card>

