<nz-card [nzBordered]="false" class="ng-card-m">
    <form nz-form [formGroup]="parameterFormGroup" class="padding-form">
        <fieldset>

            <div nz-row [nzGutter]="40" [nzType]="'flex'" [nzJustify]="'space-between'">

                <!-- 配置项编码 -->
                <div nz-col [nzSpan]="12">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label for="keyCode" nz-form-item-required>{{'parameter.editParameter.keyCode' | translate}}</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                            <nz-input [nzSize]="'large'"
                                      [nzId]="'keyCode'"
                                      [(ngModel)]="model.keyCode"
                                      formControlName="keyCode"
                                      nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                            <div nz-form-explain
                                 *ngIf="getFormControl('keyCode').dirty&&getFormControl('keyCode').hasError('required')">
                                {{'default.validationMessages.emptyErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 显示名称 -->
                <div nz-col [nzSpan]="12">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label for="confName" nz-form-item-required>{{'parameter.editParameter.confName' |
                                translate}}</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                            <nz-input [nzSize]="'large'"
                                      [nzId]="'confName'"
                                      [(ngModel)]="model.confName"
                                      formControlName="confName"
                                      nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                            <div nz-form-explain
                                 *ngIf="getFormControl('confName').dirty&&getFormControl('confName').hasError('required')">
                                {{'default.validationMessages.emptyErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 类型 -->
                <div nz-col [nzSpan]="12">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label for="cfgType" nz-form-item-required>{{'parameter.editParameter.confType' | translate}}</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                            <nz-select nzId="confType"
                                       name="confType"
                                       [(ngModel)]="model.confType"
                                       formControlName="confType"
                                       [nzSize]="'large'"
                                       nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                       (nzSelectChange)="onChangeControl('confType')">
                                <nz-option
                                    *ngFor="let confType of _confType | async"
                                    [nzLabel]="confType?.name"
                                    [nzValue]="confType?.id">
                                </nz-option>
                            </nz-select>
                            <div nz-form-explain
                                 *ngIf="getFormControl('confType').dirty&&getFormControl('confType').hasError('required')">
                                {{'default.validationMessages.emptyErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 图片上传 -->
                <div nz-col [nzSpan]="12">
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="22" *ngIf="isImgUpload">
                            <div nz-row [nzType]="'flex'" class="ctupload--mt15" [nzJustify]="'space-between'">

                                <ng-file-upload
                                                #fileUpload
                                                id="imgUpload"
                                                name="imgUpload"
                                                formControlName="imgUpload"
                                                [(ngModel)]="model.imgUpload"
                                                [options]="defFieldUploadSetting"
                                                (onError)="onFileUploadError($event)"
                                                (onUpload)="onUpload($event)"></ng-file-upload>
                            </div>
                            <button nz-button
                                    (click)="onSelectFile()"
                                    [ngClass]="'ml-40'"
                                    [nzType]="'primary'"
                                    [nzSize]="'large'"
                                    class="ctupload--margin">
                                <span>{{'parameter.editParameter.imgUpload'|translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>



                <!-- 分组 -->
                <div nz-col [nzSpan]="12">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label for="moduleCode" nz-form-item-required>{{'parameter.editParameter.moduleCode' |
                                translate}}</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                            <nz-input [nzSize]="'large'"
                                      [nzId]="'moduleCode'"
                                      [(ngModel)]="model.moduleCode"
                                      formControlName="moduleCode"
                                      nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                            <div nz-form-explain
                                 *ngIf="getFormControl('moduleCode').dirty&&getFormControl('moduleCode').hasError('required')">
                                {{'default.validationMessages.emptyErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>


                <div nz-col [nzSpan]="12"></div>

                <!-- 值 -->
                <div nz-col [nzSpan]="12">
                    <div nz-row nz-form-item>
                        <div nz-col nz-form-label [nzSm]="4">
                            <label for="value" nz-form-item-required>{{'parameter.editParameter.value'|translate}}</label>
                        </div>
                        <div nz-col nz-form-control [nzSm]="18" nzHasFeedback>
                            <nz-input [(ngModel)]="model.value"
                                      name="value"
                                      nzId="value"
                                      formControlName="value"
                                      [nzSize]="'large'"
                                      [nzType]="'textarea'"
                                      [nzRows]="5"
                                      nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                            <div nz-form-explain
                                 *ngIf="getFormControl('value').dirty&&getFormControl('value').hasError('required')">
                                {{'default.validationMessages.emptyErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 配置项说明 -->
                <div nz-col [nzSpan]="12">
                    <div nz-row nz-form-item>
                        <div nz-col nz-form-label [nzSm]="4">
                            <label for="descript">{{'parameter.editParameter.descript'|translate}}</label>
                        </div>
                        <div nz-col nz-form-control [nzSm]="18">
                            <nz-input [(ngModel)]="model.descript"
                                      name="descript"
                                      nzId="descript"
                                      formControlName="descript"
                                      [nzSize]="'large'"
                                      [nzType]="'textarea'"
                                      [nzRows]="5"
                                      nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        </div>
                    </div>
                </div>

                <!-- 是否在页面显示 -->
                <div nz-col [nzSpan]="12">
                    <div nz-row nz-form-item>
                        <div nz-col nz-form-label [nzSm]="4">

                        </div>
                        <div nz-col nz-form-control [nzSm]="18">
                            <label nz-checkbox
                                   name="isShow"
                                   nzId="isShow"
                                   [(ngModel)]="model.isShow"
                                   formControlName="isShow"
                                   (ngModelChange)="isShowClick($event)">
                                <span>{{'parameter.editParameter.isShow' | translate}}</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        </fieldset>

        <div nz-form-item nz-row>
            <div nz-form-control nz-col class="text-center">
                <button nz-button [nzType]="'primary'" nzSize="large" (click)="onSubmit()" [nzLoading]="isLoad" [disabled]='!parameterFormGroup.valid'>
                    <span>{{'default.btn.saveBtn' | translate}}</span>
                </button>

                <button nz-button [nzType]="'default'" nzSize="large" (click)="onBack()">
                    <span>{{'default.btn.cancelBtn' | translate}}</span>
                </button>
            </div>
        </div>
    </form>

    <div class="border-top-1 mt-lg px-lg text-grey-dark">
        <h4 class="h3 my-md">{{'fieldConfig.addFieldConfig.hintTitle' | translate}}</h4>
        <p>{{'fieldConfig.addFieldConfig.hintA' | translate}}</p>
        <p>{{'fieldConfig.addFieldConfig.hintB' | translate}}</p>
        <p>{{'fieldConfig.addFieldConfig.hintC' | translate}}</p>
        <p>{{'fieldConfig.addFieldConfig.hintD' | translate}}</p>
    </div>
</nz-card>


